.namebox {
  width: 190px;
  height: 30px;
  margin: 5px;
  padding: 5px 8px;

  border-radius: 5px;
  cursor: pointer;
}

.namebox:hover {
  background-color: #cfd0d1;
}

.name {
  position: relative;

  height: 20px;
  margin: 0;
  padding: 0;

  line-height: 20px;
}

.toggler {
  position: absolute;
  left: 0;

  display: inline-block;
  width: 10px;
  height: 10px;
}
