a {
  color: #1e6a9c;
}

*{
  -webkit-tap-highlight-color:rgba(255,0,0,0);
}      
body{   
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
  background-color: #A7D0F2;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0,0,0,0.06);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,0.12);
}

::selection{
  color:white;
  background-color:   #1e6a9c;;
}
